@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-image: url(./../img/fundo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.body-index {
    background-color: rgb(246, 151, 132);
    border-width: 5px;
    border-color: rgb(244, 119, 94);
    border-style: solid;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap:20px;
}

.navbar h1 {
    color: white;

}

/* li {
    margin-top: 50px;
} */

.imagem {
    width: 50%;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    border-radius: 5%;
}

.imagem2 {
    width:50%;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    border-radius: 5%;
}

a {
    padding: 5px;
    background-color: rgb(246, 151, 132);
    border-radius: 10px;
    color:white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgb(244, 119, 94);
    transition: 0.5s;
}

figure {
    text-align: center;
}